.smProfilePicture {
  width: 60px;
  border-radius: 50px;
}

.smNameLogo {
  font-family: "Satisfy", cursive;
  font-weight: 900;
  font-style: normal;
  margin-left: 10px;
}
.smHero {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/backImageMain.jpg);
}

.smLanguages {
  border-bottom: 1px dashed #1502be;
  height: 75px;
}
.smLanguages ul {
  display: flex;
  justify-content: center;
}
.smLanguages ul li {
  list-style-type: none;
}

.smLanguages img {
  width: 75px;
  padding: 3px;
}

.smAboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
}

.smAboutMe img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.smAboutMe p {
  width: 70vw;
}

.smPortfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.smProjects {
  margin: 0 auto 40px;
  width: 70vw;
  display: flex;
}

.smProjects .card {
  width: 200px;
  margin-right: 50px;
}

.smProjects .card ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.smProjects .card li {
  list-style-type: none;
}
.smProjects .card li img {
  width: 30px;
}
.smProjects .card button {
  width: 150px;
  margin: 0 auto 20px;
}
