body {
  background-color: #e5eeff;
}

.container {
  width: 65vw;
  margin: 300px auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    margin: 0;
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 15px;
    margin-top: -360px;
  }

  .item img {
    width: 100%;
  }
}
