* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom right, #49247e, #aa49c7);
  height: 100vh;
}

#map {
  height: 300px;
  width: 100%;
  margin-top: 15px;
}

.wazelogo {
  height: 100px;
  width: 100px;
}

@media (max-width: 576px) {
  .row {
    flex-direction: column;
  }
  .col-6 {
    width: 100%;
  }
  #map {
    width: 100%;
  }
}
